@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fefee3ff;
  --foreground: #171717;
  --dark-spring-green: #2c6e49ff;
  --sea-green: #4c956cff;
  --light-yellow: #fefee3ff;
  --melon: #ffc9b9ff;
  --persian-orange: #d68c45ff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #fefee3ff;
  }
}

.poppins {
  font-family: var(--font-poppins);
}

.urbanist {
  font-family: var(--font-urbanist);
}

.kumbh_sans {
  font-family: var(--font-kumbh_sans);
}

.first-section-main {
  padding-left: 27rem;
}